<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>NewDateApp</display-name>
  <welcome-file-list>
    <welcome-file>HomePage.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DateServlet</display-name>
    <servlet-name>DateServlet</servlet-name>
    <servlet-class>com.vikki.test.DateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DateServlet</servlet-name>
    <url-pattern>/getDate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TableServlet</display-name>
    <servlet-name>TableServlet</servlet-name>
    <servlet-class>com.vikki.test.TableServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TableServlet</servlet-name>
    <url-pattern>/getTable</url-pattern>
  </servlet-mapping>
</web-app>